<h1> Rent that look! </h1>
<h3>Rental Management System</h3>
<h3><a href="/about">About us</a></h3>

<h2><p><a href="/rentals">Rentals</a></p></h2>
<h2><p><a href="/stocks">Stock</a></p>
</h2> <h2><p><a href="/customers">Customers</a></p></h2>
<hr></hr>
