<title>Rental Management System</title>

<link
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
</link>

<body style="backgroun-image:url(dresses.png)">


<link
  href="/style.css"
  rel="stylesheet"
  type="text/css">
</link>

<main class="primary">
  <nav class="navBar secondary">

    <a href="/"><div class="headers">HOME</div></a>
    <a href="/about"><div class="headers">ABOUT</div></a>
    <a href="/customers"><div class="headers">CUSTOMERS</div></a>
    <a href="/stocks"><div class="headers">STOCKS</div></a>
    <a href="/rentals"><div class="headers">RENTALS</div></a>

  </nav>

  <section id="content"><%= yield %></section>

</main>
