<h1>Add new rental</h1>

<form
  action="/rentals"
  method="post">
  <label>
    Select a customer:

    <select name="customer_id">
      <% for customer in @customers %>

      <option value="<%= customer.id %>"><%= customer.forename %></option>

      <%end%>
    </select>
  </label>

  <hr></hr>

  <label>
    Select stock item:

    <select name="stock_id">
      <% for stock in @stocks %>

      <option value="<%= stock.id %>"><%= stock.name %></option>

      <%end%>
    </select>

    <label for="start">Date rented:</label>

    <input
      id="rent_date"
      min="2019-04-17"
      max="2019-12-31"
      name="rent_date"
      type="date"
      value="2019-04-17"/>
    <input
      class="button"
      type="submit"
      value="Add"/>
    <div></div>
  </label>
</form>
